a {
  margin: 20px 10px;
}

.w3-myfont {
  font-family: "Comic Sans MS", cursive, sans-serif;
}

.fa {
  padding: 5px;
  font-size: 20px;
  width: 30px;
  text-align: center;
  text-decoration: none ;
  margin: 10px 15px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-github {
  background: black;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}
